.git
.github
.claude
var
vendor
node_modules
public/assets
public/bundles
assets/vendor
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/avatars/
public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
.env.local
.env.local.php
docker-compose.yml
docker-compose.override.yml
