{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

{% if users %}
<table>
<tr>
{% for user in users %}
<th>{{user.username}}</th>
<th>{{user.password}}</th>
{% endfor %}
</tr>
<table> 
{% else  %}
<h3>No users exist in the database</h3>
{% endif %}



{% endblock %}
